<header>

    <div class="brand-block">
        <img class="brand-logo" src="/images/myfacelogo.png">
    </div>
    <div id="header-open-button">
        <div class="header-menu-lines"></div>
        <div class="header-menu-lines"></div>
        <div class="header-menu-lines"></div>
    </div>
    <div class="header-container" id="header-inactive">
        <nav class="header-buttons">
            <a class="single-button" href="/posts">Posts</a>
            <a class="single-button" href="/users">Users</a>
            <a class="single-button" href="/users/create">Create User</a>
            <a class="single-button" href="/posts/create">New Post</a>
        </nav>
    </div>

</header>