<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>
            <h1>Create a new user:</h1>
                  
            <form method="post" action="/users/create" class="create-user-form">
                <label>
                    Name:
                </label>
                <input type="text" required name="name" class="create-user-input"/>
                <label>
                    Username:
              
                </label>
                <input type="text" required name="username" class="create-user-input" />
                <label>
                    Email:
                </label>
                <input type="email" required name="email" class="create-user-input" />
                <label>
                    ProfileImageUrl:

                </label>
                <input type="text" required name="profileImageUrl" class="create-user-input" />

                <label>
                    CoverImageUrl:

                </label>
                <input type="text" required name="coverImageUrl" class="create-user-input" />
                <button type="submit" class="create-user-submit">Submit</button>
            </form>
            
        </body>
        <%- include('_footer') -%>

</html>