/* Add your styles here. */
/* Css items are ordered as follows: css types alphabetically, css classes alphabetically, css ids alphabetically, 
then media queries alphabetically by the outermost container */

:root {

    --default-background: #252A38;
    --darker-background: #151820;
    --default-foreground: #DCDCDC;
    --primary: #2985FF;
}

* {
    /* border: 1px solid; */
    background-color: var(--default-background);
    color: var(--default-foreground);
}

a {
    text-decoration: none;
}

body {
    font-size: 1.2rem;
}

button {
    background-color: var(--primary);
    border-radius: 7.5%;

}

label {
    grid-column-start: 1;
    grid-column-end: 1;
    padding: 12px 0;
}


img {
    max-height: 100%;
    max-width: 100%;
    border: 2px solid var(--darker-background);
}

.create-user-form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 50px;
    row-gap: 10px;
    width: 35%;
    min-width: 250px;

}

.create-user-input {
    grid-column-start: 2;
    grid-column-end: 3;

}

.create-user-submit {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 35px;


}

.create-user-submit:hover {
    cursor: pointer;
    background: yellow;

}

.header-buttons {

    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    background-color: var(--darker-background);


}


.single-button {
    display: flex;
    flex: 1;
    margin: 5px;
    justify-content: center;
    background-color: var(--primary);
    padding: 2px;
    text-align: center;
    border-radius: 1%;

}

.page-title {

    color: var(--primary);
    text-align: center;
    font-size: 3rem;

}

.list-of-posts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    padding: 0;
    justify-content: space-evenly;
}

.list-of-users {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    width: 35%;
}

.individual-user {
    grid-column-start: 1;
    grid-column-end: 1;
}

.user-button {
    grid-column-start: 2;
    grid-column-end: 3;
}

.single-post {
    width: 35%;
    margin-top: 5px;


}

.post-text-box,
.like-button {
    background-color: var(--darker-background);
    border: 2px solid var(--darker-background);

}

@media (max-width: 700px) {

    .header-buttons {
        font-size: 1.25rem;
    }

    .page-title {
        font-size: 2rem;
    }

    .single-post {
        width: 80%;


    }

}




/* things to change: 
Text is hidden at the bottom of the image
Images are not organised in any wa: not aligned, stacked on top of each other
Buttons should be fancy 
Text should be underneath the image
Text should be larger 
Tidy people who have liked/disliked columns 
*/